@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

html, body, main {
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
}

main {
    align-items: center;
    color:  rgb(80, 90, 60);
    display: flex;
    justify-content: center;
}

.title {
    padding: 1rem 6rem;
    font-size: 1.5rem;
}

.height-converter {
    align-items: center;
    border-radius: .4rem;
    background-color: rgb(220, 220, 160);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    padding: 1rem;
}

@media only screen and (min-width:540px) {
    .height-converter {
        max-width: 70%;
    }
}

form {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.feet, .inches, .result {
    background-color: rgb(240, 240, 240);
    border: 0.1rem solid rgb(170, 180, 140);
    border-right: none;
    border-radius: .2rem 0 0 .2rem;
    display: inline;
    float: left;
    height: 2.5rem;
    line-height: 2.5rem;
    padding-left: 1rem;
    width: 10rem;
}

.input-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
}


.output-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.unit {
    align-items: center;
    background-color: rgb(210, 210, 150);
    border: 0.1rem solid rgb(170, 180, 140);
    border-radius: 0 .2rem .2rem 0;
    display: flex;
    justify-content: center;
    padding: 0 1rem;
}

.btn-convert, .btn-reset {
    background-color: rgb(80, 90, 60);
    border: .2rem solid rgb(80, 90, 60);
    border-radius: .2rem;
    color: rgb(240, 240, 240);
    cursor: pointer;
    font-weight: bold;
    margin: 2rem;
    padding: 1rem 3rem;
}

.btn-convert:hover, .btn-reset:hover {
    border: .2rem solid rgb(170, 180, 140);
}

.btn-convert:focus, .btn-reset:focus {
    border: .2rem solid rgb(170, 180, 140);
}
